beautifulsoup4
biopython
biosimulators_xpp >= 0.0.12
biosimulators_utils >= 0.1.166
boto3
cement
gitpython
lxml
mammoth
markdownify
natsort
numpy
pyyaml
python_dateutil
python_dotenv
requests_cache
setuptools
simplejson
termcolor
