beautifulsoup4
biopython
biosimulators_xpp >= 0.0.11
biosimulators_utils >= 0.1.163
boto3
cement
gitpython
lxml
mammoth
markdownify
natsort
pyyaml
python_dateutil
python_dotenv
requests_cache
setuptools
